*{
    margin: 0;
    padding: 0;
}

body{
   
    /* background-color: linear-gradient(hsl(6, 100%, 80%) to hsl(335, 100%, 65%)) */
  
    background-color: hsl(229, 57%, 11%);
    
    
}

.cont2{
    background-image: url(/images/bg-desktop.png);
    height: 450px;
    width: 100%;
    /* background-position: left top; */
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 300px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.item{
    height: 150px;
    width: 350px;
    background-color:  hsl(228, 56%, 26%);
    margin-left: 100px;
    /* border-top-right-radius: 105px; */
    display: block;
    transform: translateY(-50%);
    padding-top: 50px;
    padding-left: 40px;
    border-radius: 10px 100px 10px 10px;
}

.item2 img{
    /* height: 50px; */
    /* width: 100px; */
    padding: 10px;
    border-radius: 5px;
    margin: 10px 10px;
    background-color:  hsl(229, 57%, 11%);
    margin-top: 30px;
}


.item3{
    height: 150px;
    width: 550px;
    background-color:  hsl(228, 56%, 26%);
    margin-left: 50px;
    transform: translateY(-38%);
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    
}


.item3 p{
    color: hsl(229, 7%, 55%);
    
}

.item3 span{
    color: white;
    font-weight: 700;
}

.ani{
    width: 500px;
    height: 18px;
    background:hsl(229, 57%, 11%) ;
    border-radius: 10px;
    position: relative;
    margin: 10px 0;
   
}

.ani::before{
    content: "";
    position: absolute;
    width: 3.5%;
    left: 0;
    height: 18px;
    border-radius: 10px;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    transition: width 1.4s  ease;
    
}

.ani:hover::before{
    width: 80%;
}

.ani::after{
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    margin-left: 0.5%;
    position: absolute;
    margin-top: 2.5px;
    
    transition: all 1.4s ease;
}

.ani:hover::after{
    margin-left: 77%;
}



.item4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
   
}
.item4 p{
    color: white;
}

.item5{
    display: flex;
    justify-content: space-between;

    /* margin-top: 20px; */
}


.item6{
    height: 50px;
    width: 120px;
    background-color: white;
    border-radius: 10px 10px 10% 10px;
    text-align: center;
    transform: translateY(-100%);
    /* padding: 10px; */
}

.item6 p{
    font-weight: 900;
    color: black;
    padding: 10px;
}

.item6 sup{
    color:  hsl(229, 7%, 55%);
    font-size: 10px;
    margin-bottom: 12px;
}


@media screen and (max-width:375px) {

    .cont2{
        background:  url(/images/bg-desktop.png);
        display: flex;
        flex-direction: column;
    }
    
}